@charset "UTF-8";
  .calendar-control {
    display: flex;
    justify-content: center;
  }
  
  .calendar {
    width: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .year-month {
    font-size: 35px;
  }
  
  .nav {
    display: flex;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
  
  .nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
  }
  
  .go-today {
    width: 75px;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
  }
  
  .days {
    display: flex;
    margin: 25px 0 10px;
  }
  
  .day {
    width: calc(100% / 7);
    text-align: center;
  }
  
  .dates {
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
  }
  
  .date {
    width: calc(100% / 7);
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid #aaa;
    border-left: 1px solid #aaa;
  }
  
  .day:nth-child(7n + 1),
  .date:nth-child(7n + 1) {
    color: #D13E3E;
  }
  
  .day:nth-child(7n),
  .date:nth-child(7n) {
    color: #396EE2;
  }
  
  .other {
    opacity: 0.3;
  }
  
  .today {
    position: relative;
    color: #FFFFFF;
  }
  
  .today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 30px;
    height: 30px;
    display: block;
    background-color: #FF0000;
    border-radius: 50%;
    content: '';
  }
  
/* 반응형 */ 
  
@media (max-width: 680px) {	
.year-month {
    font-size: 1.5rem;
  }
.nav {
	width: 30%;
}
.go-today {
    width: 52px;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

.nav-btn {
	line-height: 30px;
    width: 39px;
    height: 28px;
    border: none;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
}

.go-prev {
	width: 20px;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 389px;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

.go-today {
	line-height: 30px;
    width: 53%;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}
}