@charset "UTF-8";
*{
   box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
    letter-spacing: -0.7px;
}
input[type="text"], input[type="password"], input[type="email"], select, textarea {
    background-color: #fff;
    border-color: rgba(67, 75, 86, 0.25);
}
input[type="text"], input[type="password"], input[type="email"] {
    height: 2.75em;
}
input[type="text"], input[type="password"], input[type="email"], select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 1px;
    border: none;
    border: solid 1px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
    border: solid 1px #dadada;
}

